{% extends 'base.html' %}

{% block content %}
<main class="main">
    <section>
      <h3>About Me</h3>
      <p>Hello, I'm <strong>Zeyad Moustafa , I am <strong> 17 </strong>years old</strong>, and I am a <strong>backend developer</strong><p>
    </section>
    <section>
        <h3>About this project</h3>
        <p>This project is just to show my skills in backend development</p>
        <p>For frontend I used chatGPT to build the website, and I used bootstrap in alerts<p>
        <p>I used a SQLite database to store the data in, and for the backend I used django</p>
        <p>The frontend isn't the best but this is just to show my skills in backend development</p>
    </section>
    <section>
      <h3>What I want to focus on</h3>
      <p>No manipulation as I check for the email and passowrd to be correct so even the user changed the required attribute I won't consider it a valid E-mail or password</p>
      <p>And another time in the type attribute in buttons I won't consider it as a valid E-Mail if this isn't an E-Mail so if the user changed the type to text not email this won't work</p>
    </section>
    <section>
      <h3>Technologies in this project</h3>
      
        <p>Programming languages: python, HTML, CSS</p>
        <p>Front-end frameworks: bootstrap</p>
        <p>Back-end frameworks: django</p>
        <p>Databases: SQLite</p>
    </section>
    <section>
        <h3><strong>Note : </strong> This isn't all of my skills as I have skills like:</h3>
            <p>Browser automation</p>
            <p>Web scraping</p>
            <p>Problem solving</p>
            <p>Self learning</p>
            <p>Building GUIs using tkinter and customtkinter</p>
            <p>Version control systems like Git & GitHub</p>
    </section>
  </main>


{% endblock %}